@page
@model AutoShop.Pages.Partes.Edit.EditModel
@{
	ViewData["Title"] = "Editar Cliente";
}
<h1>Editar Partes</h1>
<h4>Partes</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method=" post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			input type ="hidden" asp-for="Clientes.IdCliente" />
			<div class="form-group">
				<label asp-for="Parte.IdCliente"></label>
				<input asp-for="Parte.IdCliente" class="form-control" />
				<span asp-validation-for="Parte.IdCliente" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Parte.Nombre"></label>
				<input asp-for="Parte.Nombre" class="form-control" />
				<span asp-validation-for="Parte.Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Parte.Apellido"></label>
				<input asp-for="Parte.Apellido" class="form-control" />
				<span asp-validation-for="Parte.Apellido" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Parte.Telefono"></label>
				<input asp-for="Parte.Telefono" class="form-control" />
				<span asp-validation-for="Parte.Telefono" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Parte.Email"></label>
				<input asp-for="Parte.Email" class="form-control" />
				<span asp-validation-for="Parte.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Parte.Direccion"></label>
				<input asp-for="Parte.Direccion" class="form-control" />
				<span asp-validation-for="Parte.Direccion" class="text-danger"></span>
			</div>
			<div class=" form-group">
				<input type="submit" value="Save" class="btn btn-sucess" />
				<a asp-page="./Index" class="btn btn-primary">Back to list</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {
				await Html.RenderPartialAsync("_ValidationScriptsPartial")
}
}
