@page
@model AutoShop.Pages.Reparaciones.Edit.EditModel
@{
	ViewData["Title"] = "Editar Cliente";
}
<h1>Editar Reparaciones</h1>
<h4>Reparaciones</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method=" post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			input type ="hidden" asp-for="Clientes.IdCliente" />
			<div class="form-group">
				<label asp-for="Reparacion.IdReparacion"></label>
				<input asp-for="Reparacion.IdReparacion" class="form-control" />
				<span asp-validation-for="Reparacion.IdReparacion" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Reparacion.Descripcion"></label>
				<input asp-for="Reparacion.Descripcion" class="form-control" />
				<span asp-validation-for="Reparacion.Descripcion" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Reparacion.IdVehiculo"></label>
				<input asp-for="Reparacion.IdVehiculo" class="form-control" />
				<span asp-validation-for="Reparacion.IdVehiculo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Reparacion.Vehiculo"></label>
				<input asp-for="Reparacion.Vehiculo" class="form-control" />
				<span asp-validation-for="Reparacion.Vehiculo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Reparacion.FechaInicio"></label>
				<input asp-for="Reparacion.FechaInicio" class="form-control" />
				<span asp-validation-for="Reparacion.FechaInicio" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Reparacion.FechaFin"></label>
				<input asp-for="Reparacion.FechaFin" class="form-control" />
				<span asp-validation-for="Reparacion.FechaFin" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Reparacion.CostoEstimado"></label>
				<input asp-for="Reparacion.CostoEstimado" class="form-control" />
				<span asp-validation-for="Reparacion.CostoEstimado" class="text-danger"></span>
			</div>
			<div class=" form-group">
				<input type="submit" value="Save" class="btn btn-sucess" />
				<a asp-page="./Index" class="btn btn-primary">Back to list</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {
					await Html.RenderPartialAsync("_ValidationScriptsPartial")
}
}
